<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>7bits-frontend-2017</title>
    <link rel="stylesheet" type="text/css" href="./main.css" />
  </head>
  <body>
    {{> includes/header/header}}

    {{#> main-block}}
    {{/main-block}}

    {{> includes/footer/footer}}
  </body>
</html>
