@import '../../variables';

@media (max-width: 1024px) {
  body {
    box-sizing: border-box;
    width: 1400px;
    margin: 0;
    padding: 0;
    background-color: #f7f9fb;
  }
}

@media (max-width: 320px) {
  body {
    width: 320px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f7f9fb;
  }
}

