<div class="header">
    <div class="header__text">Palo Alto</div>
    <div class="menu" id="button">
        <span class="menu__item">Home</span>
        <span class="menu__item__picked">Profile</span>
        <div class="menu__item__search">
        </div>
    </div>
</div>