@import '../../variables';

.white-sheet {
  font-family: $font_lato;
  width: 950px;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 5px $grey;
  margin: 80px 225px 100px 225px;
}

.header {
  font-size: 27px;
  font-weight: bold;
  padding: 80px 0 0 100px;
  color: #333333;
}

.inf {
  border-top: solid 2px $grey;
  margin: 40px 100px 0 100px;
  padding: 13px 100px;

  &-item {
    margin-top: 30px;
    font-size: 14px;

    &__input {
      border: solid 1px $transparent;
      display: block;
      margin-top: 13px;
      padding-left: 33px;
      background-color: $white;
      width: 365px;
      height: 55px;

      &__phone {
        border: solid 1px $transparent;
        display: block;
        margin-top: 13px;
        padding-left: 33px;
        background-color: $white;
        width: 365px;
        height: 55px;
        color: $grey;
      }

      &__date {
        border: solid 1px $transparent;
        display: block;
        margin-top: 13px;
        padding-left: 33px;
        width: 365px;
        height: 55px;
        color: $grey;
        background: #F7F7F7 url(../../images/calendar.png) 348px center no-repeat;
      }

      &__radio {
        margin-top: 13px;
        margin-left: 33 + 15px;
        border: none;
        display: none;
        background: #F7F7F7 url(../../images/unchecked.png) 5px center no-repeat;

        &:checked {
          margin-top: 13px;
          margin-left: 33 + 15px;
          border: none;
          background: #F7F7F7 url(../../images/checked.png) 5px center no-repeat;
        }
      }
    }

    &__label {

    }
  }

  &__submit {
    box-sizing: border-box;
    margin: 60px 0 0 40px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: $primary-color;
    background: none;
    border: solid 1px $transparent;
    font-weight: bold;
    font-size: 20px;

    &:hover {
      border: solid 1px $grey;
    }

    &:active {
      border: solid 1px $primary-color;
      box-shadow: none;
    }
  }
}

input:focus {
  border: solid 1px $primary-color;
  outline: none;
}
