{{#> layout/base }}

    {{#*inline "main-block"}}
        <div id="wrap">
            <div class="js-articles"></div>
            <div class="sidemenu" id="menu">
                <div class="sidemenu__search">Search</div>
                <div class="sidemenu__separator"></div>
                <div class="sidemenu__item__selected">Home</div>
                <div class="sidemenu__item">Profile</div>
                <div class="sidemenu__paloalto">PaloAlto</div>
                <div class="sidemenu__rights">Designed & Developed by PixelBuddha Team</div>
            </div>
        </div>
    {{/inline}}



{{/layout/base }}
