
  .white-sheet {
    font-family: $font_lato;
    width: 950px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 5px $grey;
    margin: 80px 225px 100px 225px;
  }

  .post {
    padding: 0 80px;
    position: relative;

    &__image {
      position: relative;
      left: -80px;
      width: 952px;
      height: 636px;
    }

    &__category {
      position: relative;
      right: -800px;
      top: 21px;
      width: 88px;
      height: 32px;
      font-size: 14px;
      color: rgb(255, 255, 255);
      background-color: rgb(92, 107, 192);
      padding: 10px 10px 0 10px;
    }

    &__date {
      margin: 60px 0;
      font-size: 14px;
      color: rgb(189, 189, 189);
      font-weight: bold;
    }

    &__title {
      font-size: 40px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      margin: 20px 0;
    }

    &__subtitle {
      font-size: 25px;
      color: rgba(0, 0, 0, 0.502);
      font-style: italic;
      margin: 40px 0;
    }

    &__separator {
      background-color: rgb(238, 238, 238);
      width: 756px;
      height: 2px;
      margin: 50px 0;
    }

    &__text {
      font-size: 17px;
      color: rgba(0, 0, 0, 0.8);
      margin: 40px 0;
    }

    &__read {
      display: inline-block;
      box-sizing: border-box;
      margin-bottom: 40px;
      padding: 10px 20px;
      text-transform: uppercase;
      color: $primary-color;
      border: solid 1px $transparent;
      font-weight: bold;
      font-size: 20px;

      &:hover {
        border: solid 1px $grey;
      }

      &:active {
        border: solid 1px $primary-color;
        box-shadow: none;
      }
    }

    &__hashtag {
      font-size: 15px;
      display: inline-block;
      float: right;


      &__one {
        display: inline-block;
        padding-right: 5px;
        color: rgba(0, 0, 0, 0.3);

        &:hover {
          text-decoration: solid;
          color: $primary-color;
        }

        &:active {
          color: $primary-color;
        }
      }
    }
  }

@media (max-width: 320px) {
  .white-sheet {
    font-family: $font_lato, sans-serif;
    width: 280px;
    background-color: #FFFFFF;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    margin: 20px auto;
  }

  .post {
    font-family: "Lato", sans-serif;
    padding: 0 23px;
    position: relative;

    &__image {
      background-image: url("../img.png");
      position: relative;
      left: -23px;
      width: 280px;
      height: 225px;
    }

    &__category {
      position: absolute;
      left: 144px;
      top: 0;
      width: 112px;
      height: 34px;
      font-size: 15px;
      color: rgb(255, 255, 255);
      background-color: rgb(92, 107, 192);
      padding: 10px 10px 0 14px;
    }

    &__date {
      margin: 40px 0 30px 0;
      font-size: 15px;
      color: rgb(189, 189, 189);
      font-weight: bold;
      display: inline-block;
    }

    &__title {
      font-size: 24px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      margin: 20px 0;
    }

    &__subtitle {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.502);
      font-style: italic;
      margin: 40px 0;
    }

    &__separator {
      background-color: rgb(238, 238, 238);
      width: 230px;
      height: 2px;
      margin: 35px 0;
    }

    &__text {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.8);
      margin: 40px 0;
    }

    &__read {
      display: inline-block;
      box-sizing: border-box;
      margin-bottom: 40px;
      padding: 10px 20px;
      text-transform: uppercase;
      color: $primary-color;
      border: solid 1px $transparent;
      font-weight: bold;
      font-size: 20px;

      &:hover {
        border: solid 1px $grey;
      }

      &:active {
        border: solid 1px $primary-color;
        box-shadow: none;
      }
    }

    &__hashtag {
      font-size: 15px;
      display: inline-block;
      margin: 0 0 30px auto;

      &__one {
        display: inline-block;
        padding-right: 5px;
        color: rgba(0, 0, 0, 0.3);

        &:hover {
          text-decoration: solid;
          color: $primary-color;
        }

        &:active {
          color: $primary-color;
        }
      }
    }
  }
}
