<div class="footer">
    <div class="footer__text">Palo Alto</div>
    <div class="footer-menu">
        <span class="footer-menu__item">Home</span>
        <span class="footer-menu__item__picked">Profile</span>
        <div class="footer-menu__item__search"></div>
    </div>
    <div class="footer__about-rights">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by
        <span class="footer__about-rights__marked">PixelBuddha Team</span>
    </div>
    <div class="social">
        <div class="social__facebook"></div>
        <div class="social__twitter"></div>
        <div class="social__instargam"></div>
        <div class="social__pinterest"></div>
    </div>
</div>